/* Set some basic styles for all elements on the website */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Style the body element */
body {
    background-color: #d9dcd6;
}

/* Style the header element */
header {
    text-align: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Style the main heading inside the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Style a specific class inside the main heading */
header h1 .seo {
    color: #d9dcd6;
}

/* Style the div inside the header */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Style an unordered list inside the div in the header */
header div ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Style the list items inside the unordered list in the header */
header div ul li {
    float: left;
    margin-left: 10px;
}

/* Style links throughout the website */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Set the font size for paragraph text */
p {
    font-size: 16px;
}

/* Style the hero section */
section.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* These classes float an element to the left or right and add a margin to the opposite side */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Style the content section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Style the benefits section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Style a div inside the benefits section */
.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Style a heading inside the benefits section */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Style an image inside the benefits section */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Style articles inside the content section */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Style an image inside articles in the content section */
.content article img {
    max-height: 200px;
}

/* Style a heading inside articles in the content section */
.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Style the footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Style a heading inside the footer */
footer h2 {
    font-size: 20px;
}
